@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

html, body {
  background-image: url('./images/pexels-lorenzo-242236.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  // -webkit-box-sizing: border-box;
  //         box-sizing: border-box;
}

.wrapper {
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  text-align: center;
  border-radius: 2px;
  padding: 1px 20px;
  background-color: #c3e2d398;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: auto;
  width: 85%;
}

.card {
  background-color: black;
}

// *, *:before, *:after {
//   -webkit-box-sizing: inherit;
//           box-sizing: inherit;
// }

// body {
//   margin: 0;
//   padding: 0;
//   line-height: 1;
//   font-family: 'Roboto', sans-serif;
//   color: #202020;
//   background-color: #fbfbfb;
//   font-smooth: always;  
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale; 
// }

Link {
  color: black;
}
