@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Trocchi&display=swap');


html, body {
  background-image: url("./images/pexels-stephan-seeber-1054222.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

h5 {
  text-align: left;
}

.wrapper {
  font-family: 'Prata', serif;
  font-family: 'Trocchi', serif;
  text-align: center;
  border-radius: 2px;
  padding: 1px 20px;
  background-color: 	rgb(255, 255, 255);
  color: black;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: auto;
  width: 85%;
}

ul .comment-list{
  font-size: 18;
}

#post-card {
  display: flex;
  width: auto;
  border: none;
  list-style: none;
  margin: 35;
}

#post-card.h3{
  display: inline-block;
}


